#Tabs {
  position: absolute;
  width: 503px;
  height: 50px;
  left: 355px;
  top: 160px;
 
  display: flex;
}

  #Tabs div {
    height: 100%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  #Tabs-1 {
    width: 252px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  #Tabs-2 {
    width: 251px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  #Tabs .Tabs-active {
    background: #2196F3;
    color: #FFF;
  }

  #Tabs .Tabs-notActive {
    box-sizing: border-box;

    cursor: pointer;

    color: #4A4A4A;
    border: 1px solid #DFE5EC;
    background: #FFF;
  }